@import "./variables/_variables.scss";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
